.catalog__title {
  padding-top: 27px;
  padding-bottom: 40px;
  position: relative;

  &::after {
    @include bottom-border;

    top: 105px;
  }
}

.catalog__list {
  @include list-normalize;

  @media (min-width: $tabletWidth) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktopWidth) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px 63px;
  }
}

.catalog__item {
  padding-bottom: 26px;
  padding-top: 19px;
  position: relative;

  &::after {
    @include bottom-border;

    top: 209px;
  }
}

.catalog__show-more {
  text-align: center;
}

.catalog__show-more-button {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/icon-plus-mobile.svg");
}

.catalog__show-all {
  display: block;
  text-align: center;
}
