.contrast-slider {
  text-align: center;

  @media (min-width: $tabletWidth) {
    height: 650px;
    // Временное решение до импорта графики
  }
}

.contrast-slider__list {
  @include list-normalize;
}

.contrast-slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.contrast-slider__indicator {
  margin-top: 27px;
  text-transform: uppercase;

  @media (min-width: $tabletWidth) {
    font-size: 20px;
    line-height: 30px;
  }
}
