.instructions {
	padding-top: 27px;
	padding-bottom: 42px;
}

.instructions__title {
}

.instructions__list {
	@include list-normalize;
	margin-top: 38px;
	margin-bottom: 0;
	display: grid;
	gap: 20px;
	@media (min-width: $tabletWidth) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: $desktopWidth) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.instructions__desc {
	font-family: $Arial;
	margin: 0;
	padding: 0;
	@media (min-width: $tabletWidth) {
		font-size: 16px;
		line-height: 24px;
	}
}

.instructions__item {
	padding-left: 80px;
	position: relative;
	min-height: 60px;
	@media (min-width: $tabletWidth) {
		padding-left: 0;
		padding-top: 111px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 60px;
		height: 60px;
		background-color: $basicGreen;
		background-position: center;
		background-repeat: no-repeat;
		left: 0;
		@media (min-width: $tabletWidth) {
			width: 80px;
			height: 80px;
			top: 0;
		}
	}
	&--benefit::before {
		background-image: url('../img/advantage-leaf@1x.png');
	}
	&--cooking::before {
		background-image: url('../img/advantage-powder@1x.png');
	}
	&--nutrition::before {
		background-image: url('../img/advantage-dining@1x.png');
	}
	&--time::before {
		background-image: url('../img/advantage-clock@1x.png');
	}
}
