.main-header {
	@media (max-width: $mobileWidth) {
		background-image: url('../img/index-background-mobile@1x.jpg');
	}
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 25px;
	text-align: center;
}

.main-header__title {
	margin-top: 25px;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	color: $white;
	padding: 0;
	margin: 0;
	@media (min-width: $tabletWidth) {
		font-size: 60px;
		line-height: 60px;
		color: $black;
		text-align: left;
		width: 414px;
	}
}

.main-header__subtitle {
	display: block;
	color: $white;
	margin-top: 25px;
	text-transform: uppercase;
	@media (min-width: $tabletWidth) {
		font-size: 20px;
		line-height: 20px;
		color: $black;
		text-align: left;
	}
	}

.main-header__pic {
	margin-top: 29px;
	margin-left: auto;
	margin-right: auto;
	&--tablet {
		display: none;
	}
	&--desktop {
		display: none;
	}
	@media (min-width: $tabletWidth) {
		&--mobile {
			display: none;
		}
		&--tablet {
			display: block;
		}
		
	}
	@media (min-width: $desktopWidth) {
		&--tablet {
			display: none;
		}
		&--desktop {
			display: block;
		}
		margin-top: 0;
	}


}

.main-header__wrapper {
	@media (min-width: $desktopWidth) {
		display: flex;
	}
}