.menu-toggle {
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;

  &--active {
    height: 18px;
    width: 18px;
    background-image: url("../img/icon-close.svg");
  }
}
