@import '../utils/variables.scss';

.programms__btn {
	margin-left: auto;
	margin-right: auto;
}

.programms__list {
	@include list-normalize;
	margin-top: 3px;
	display: grid;
	gap: 20px;
	@media (min-width: $desktopWidth) {
		grid-template-columns: 570px 580px;
		gap: 80px;
	}
}

.programms__item {
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 21px;
	padding-right: 20px;
	padding-bottom: 18px;
	background-color: $shadowWhite;
	@media (min-width: $tabletWidth) {
		padding-top: 77px;
		padding-bottom: 53px;
		padding-left: 52px;
	}
}

.programms__title {
	text-transform: uppercase;
	margin: 0;
	font-size: 24px;
	line-height: 37px;
	font-weight: normal;
	padding-left: 71px;
	position: relative;
	overflow: visible;
	&::before {
		content: '';
		top: -5px;
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&--loss::before {
		left: 2px;
		width: 50px;
		height: 53px;
		background-image: url('../img/icon-cat-slim-circle.svg');
	}
	&--set::before {
		left: -7px;
		width: 67px;
		height: 50px;
		background-image: url('../img/icon-cat-pro-circle.svg');
	}
}

@media (min-width: $tabletWidth) {
	.programms__title {
		font-size: 36px;
		line-height: 36px;
		padding-left: 0;
		&::before {
			display: none;
		}
	}
}

.programms__desc {
	margin-top: 29px;
	font-family: $Arial;
	color: $deepGraphite;
	position: relative;
	padding-bottom: 23px;
	border-bottom: solid 1px $borderGrey;
	@media (min-width: $tabletWidth) {
		width: 377px;
		font-size: 16px;
		line-height: 24px;
	}
}

.programms__link {
	margin-top: 19px;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: $black;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 24px;
		height: 12px;
		background-image: url('../img/icon-right-arrow-long.svg');
		background-size: contain;
		background-repeat: no-repeat;
		top: 6px;
		right: -39px;
	}
}
