.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.socials__item {
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  &--vk {
    width: 22px;
    height: 12px;

    & .socials__icon {
      @media (min-width: $tabletWidth) {
        width: 29px;
        height: 17px;
      }
    }
  }

  &--inst {
    width: 16px;
    height: 16px;

    & .socials__icon {
      @media (min-width: $tabletWidth) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    width: 10px;
    height: 18px;

    & .socials__icon {
      @media (min-width: $tabletWidth) {
        width: 13px;
        height: 27px;
      }
    }
  }

  & .socials__icon {
    fill: $darkGrey;
  }

  &:hover .socials__icon {
    fill: $basicGreen;
  }

  &:active {
    opacity: 0.3;
  }
}
