.page-header {
	padding-top: 12px;
	text-transform: uppercase;
}

.page-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	min-height: 66px;
	&--active-menu {
		border-bottom: solid 1px #e6e6e6;
		padding-right: 23px;
	}
}

.page-header__logo {
	margin-left: 20px;
}
